<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{{ detail.name }} [逆引き 真・女神転生 STRANGE JOURNEY(ストレンジ・ジャーニー)]</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="/favicon.ico" >
<link href="/css/style.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript">
function clearText(field)
{
if (field.defaultValue == field.value) field.value = '';
else if (field.value == '') field.value = field.defaultValue;
}
</script>
</head>
<body>
<div id="container">
  <div id="header_panel">
    <a href="/" style='text-decoration: none;'>
    <div id="site_title">
      <h1>真・女神転生 <span>STRANGE JOURNEY</span></h1>
      <h2>逆引き悪魔合体(ストレンジ・ジャーニー)</h2>
    </div>
    </a>
    <div id="search_box">
      <form method="post" action="/">
        <input name="name" type="text" value="例:ジャックフロスト" id="searchfield"  onfocus="clearText(this)" onblur="clearText(this)" />
        <input type="submit" name="submit" id="searchbutton" value="" />
      </form>
    </div>
  </div>
  <!-- end of header panel -->
  <div id="banner_panel">
    <div id="banner_section">
      {% if detail %}
      <h1>LV {{ detail.lv }} {{ detail.type }} {{ detail.name }}</h1>
      最安値 {{ reasonable.cost }} マッカ [
      {% for detail in reasonable.details %}
        <a href="/{{detail.urlencode}}">{{ detail.name }}</a>
        {% if not forloop.last %}x{% endif %}
      {% endfor %}
      ]
        {% if not demonica_modoki %}
      <h2>ステータス</h2>
      <table>
        <thead>
          <tr>
            <th>属性</th>
            <th>HP</th>
            <th>MP</th>
            <th>力</th>
            <th>魔</th>
            <th>体</th>
            <th>速</th>
            <th>運</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ detail.stance }}</td>
            <td>{{ detail.hp }}</td>
            <td>{{ detail.mp }}</td>
            <td>{{ detail.strength }}</td>
            <td>{{ detail.magic }}</td>
            <td>{{ detail.vitality }}</td>
            <td>{{ detail.speed }}</td>
            <td>{{ detail.luck }}</td>
          </tr>
        </tbody>
        <thead>
          <tr>
            <th>物理</th>
            <th>銃</th>
            <th>火</th>
            <th>氷</th>
            <th>電</th>
            <th>衝撃</th>
            <th>破</th>
            <th>呪</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ detail.attack }}</td>
            <td>{{ detail.shot }}</td>
            <td>{{ detail.fire }}</td>
            <td>{{ detail.ice }}</td>
            <td>{{ detail.electric }}</td>
            <td>{{ detail.force }}</td>
            <td>{{ detail.expel }}</td>
            <td>{{ detail.death }}</td>
          </tr>
        </tbody>
        <thead>
          <tr>
            <th colspan="8">攻撃タイプ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="8">
            {{ detail.attack_type }}
            </td>
          </tr>
        </tbody>
      </table>
        {% endif %}
      {% else %}
      <h1>検索</h1>
      <p> 右上で検索してね </p>
      <dl>
        <dt>2009/11/18</dt>
        <dd>攻撃タイプを表示するようにしました. <br />
            合体時の平均の計算が切り捨てになっていたので切り上げに修正しました．
        </dd>
        <dt>2009/11/13</dt>
        <dd>スキル名でも検索出来るようにしました. <br />
            右に出るスキルにもリンク貼りました．
        </dd>
      </dl>
      {% endif %}
    </div>
    <!-- end of banner section -->
    <div id="menu_section">
      {% if detail.skill %}
      skill
      {% endif %}
      <ul>
        {% for skill in detail.skill %}
            <li><span>0{{ forloop.counter }} <a href='/skill/{{ skill.urlencode }}'>{{ skill.name }}</a></span></li>
        {% endfor %}
      </ul>
      {{ detail.src.src_name }}
      <ul>
        {% for skill in detail.src.skills %}
            <li><span>0{{ forloop.counter }}<a href='/skill/{{ skill.urlencode }}'>{{ skill.name }}</a></span></li>
        {% endfor %}
      </ul>
    </div>
    <!-- end of menu section -->
  </div>
  <!-- end of banner panel -->
  <div id="content_top"></div>
  <div id="content">
    <div id="content_left">
      {% if not index %}
      <h1>
        {% if not password_only %}
        逆引き結果
        {% else %}
        パスワード限定悪魔
        {% endif %}
      </h1>
      {% endif %}
      <div class="cleaner_with_height">&nbsp;</div>
      <div class="content_left_two_column">
      {% if index %}
        {% for data in all_devils.items %}
            <h2>{{ data.0 }}</h2>
            <ul>
            {% for detail in data.1 %}
              <li>
              <a href="/{{detail.urlencode}}">LV{{ detail.lv }}:{{ detail.name }}</a>
              </li>
            {% endfor %}
            </ul>
        {% endfor %}
      {% endif %}
      {% if converter %}
      <h3>サブアプリ<strength>「{{ detail.type }}コンバータ」</strength>を装備して合体</h3>
      {% endif %}
      {% if kyoshin %}
      <p>
        <h3>合体事故でのみ発生</h3>
        サブアプリ「コペルニクス」「狂神招来」使用推奨<br />
        詳細わかる方は教えてください＞＜
      </p>
      {% endif %}
        {% for data in normals %}
          {% if data.type %}
          <h2>{{ data.type.0}} x {{ data.type.1 }}</h2>
          {% endif %}
          <ul>
            {% for detail in data.details %}
              <li><a href="/{{detail.0.urlencode}}">{{ detail.0.name }}</a> x <a href="/{{detail.1.urlencode}}">{{ detail.1.name }}</a>
                  <br />合計 {{ detail.0.cost|add:detail.1.cost }} マッカ
              </li>
            {% endfor %}
          </ul>
        {% endfor %}
        {% if special %}
        <h2>特殊合体</h2>
        <ul>
          <li>
              {% for detail in special.data %}
                <a href="/{{detail.urlencode}}">{{ detail.name }}</a>
                {% if not forloop.last %}x{% endif %}
              {% endfor %}
              <br />合計 {{ special.cost_sum }} マッカ
          </li>
          </ul>
        {% endif %}
      </div>
      <div class="content_left_two_column">
        {% if index %}
          <h2>スキル</h2>
            <ul>
              {% for data in all_skills.values %}
              <li>
              <a href="/skill/{{data.urlencode}}">{{ data.name }}</a>
              </li>
              {% endfor %}
            </ul>
        {% endif %}
        {% if elements %}
          <h2>精霊合体</h2>
          <ul>
            {% for detail in elements %}
              <li><a href="/{{detail.0.urlencode}}">{{ detail.0.name }}</a> x <a href="/{{detail.1.urlencode}}">{{ detail.1.name }}</a>
                  <br />合計 {{ detail.0.cost|add:detail.1.cost }} マッカ
              </li>
            {% endfor %}
          </ul>
        {% endif %}
        {% if detail.password %}
          <h2>パスワード</h2>
          {{ detail.password|linebreaks }}
        {% endif %}
        {% if detail.cost %}
          <h3>コスト</h3>
          {{ detail.cost }}
        {% endif %}
        {% if demonica_modoki %}
          {% for detail in demonica_modoki %}
      <h2>{{ detail.stance }}</h2>
      <table>
        <thead>
          <tr>
            <th colspan="8">パスワード</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="8">{{ detail.password }}</td>
          </tr>
        </tbody>
        <thead>
          <tr>
            <th>属性</th>
            <th>HP</th>
            <th>MP</th>
            <th>力</th>
            <th>魔</th>
            <th>体</th>
            <th>速</th>
            <th>運</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ detail.stance }}</td>
            <td>{{ detail.hp }}</td>
            <td>{{ detail.mp }}</td>
            <td>{{ detail.strength }}</td>
            <td>{{ detail.magic }}</td>
            <td>{{ detail.vitality }}</td>
            <td>{{ detail.speed }}</td>
            <td>{{ detail.luck }}</td>
          </tr>
        </tbody>
        <thead>
          <tr>
            <th>物理</th>
            <th>銃</th>
            <th>火</th>
            <th>氷</th>
            <th>電</th>
            <th>衝撃</th>
            <th>破</th>
            <th>呪</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ detail.attack }}</td>
            <td>{{ detail.shot }}</td>
            <td>{{ detail.fire }}</td>
            <td>{{ detail.ice }}</td>
            <td>{{ detail.electric }}</td>
            <td>{{ detail.force }}</td>
            <td>{{ detail.expel }}</td>
            <td>{{ detail.death }}</td>
          </tr>
        </tbody>
        <thead>
          <tr>
            <th colspan="8">攻撃タイプ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="8">
            {{ detail.attack_type }}
            </td>
          </tr>
        </tbody>
        <thead>
          <tr>
            <th colspan="8">スキル</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="8">
            {% for skill in detail.skill %}
              <a href='/skill/{{ skill.urlencode }}'>{{ skill.name }}</a>
            {% endfor %}
            </td>
          </tr>
        </tbody>
        <thead>
          <tr>
            <th colspan="8">{{ detail.src.src_name }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="8">
            {% for skill in detail.src.skills %}
              <a href='/skill/{{ skill.urlencode }}'>{{ skill.name }}</a>
            {% endfor %}
            </td>
          </tr>
        </tbody>
      </table>
          {% endfor %}
        {% endif %}
      </div>
      <div class="cleaner"></div>
    </div>
    <!-- end of content left -->
    <div id="content_right">
      <div>
        {% if min_max %}
        <h1>パラケルスス使用時</h1>
        <h2>2体平均 LV{{ min_max.0 }} 〜 LV{{ min_max.1 }}</h2>
        <ul>
          {% for data in normals %}
          <li><h2>{{ data.type.0}} x {{ data.type.1 }}</h2></li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
    </div>
    <!-- end of content right -->
  </div>
  <div id="content_bottom"></div>
  <div id="footer"> <a href="mailto:yoshiori@gmail.com">mail</a> | <a href="http://twitter.com/yoshiori/">@yoshiori</a> | <a href="http://yoshiori.org/">site</a></div>
  <!-- end of footer -->
</div>
<!-- end of container -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-567515-3");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
